// color
$color-primary-1: #26001b;
$color-primary-2: #810034;
$color-primary-3: #ff005c;
$color-primary-4: #fff600;

$color-primary-1-light: #25091d;
$color-primary-2-light: #801e45;
$color-primary-3-light: #fa4084;
$color-primary-4-light: #f7f263;

$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-grey-light: rgb(241, 234, 234);

// grid
$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-horizontal: 6rem;

// font
$default-font-size: 1.6rem;
